
#img_area_form input {
	margin: 0;
	padding: 0 0 0 1px;
	vertical-align: middle;
	font-size: 95%;
}

#img_area_form fieldset {
	margin: 0;
	padding: 5px 5px;
}

#img_area_form legend, #img_area_form .toggler {
	background-image: url(../images/bullet_green.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	padding-right: 5px;
	border: none!important;
	cursor: pointer;
}
#img_area_form legend a {
	border: none!important;
	text-decoration: none;
	cursor: pointer;
}

#img_area_form .fieldset_off {
	border-bottom: none;
	border-right: none;
}
#img_area_form .fieldset_off legend, #img_area_form .toggler_off {
	background-image: url(../images/bullet_orange.gif);
}
#img_area_form .fieldset_off div {
	display: none;
}

#img_area_form .source_desc {
	clear: left;
	float: left;
	width: 200px;
}

#img_area_form .source_url {
	float: left;
	width: 250px;
	height: 24px;
}
#img_area_form .source_url input, #img_area_form .source_url select {
	font-size: 95%;
	width: 240px;
	padding: 0 0 0 1px;
}

#img_area_form a.source_accept {
	display: block;
	float: left;
	padding-left: 18px;
	color: #888!important;
	background-image: url(../images/accept.gif);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 90%;
	letter-spacing: -1px;
	border: none!important;
}
#img_area_form a.source_accept:hover {
	color: #333!important;
}

#img_area_form {
	margin: 5px 0px;
	padding: 0;
	border: 0;
}

#img_area_form #form_container {
	white-space: nowrap;
	overflow: auto;
	height: 188px;
	border-top: solid 1px #bfc1c5;
}

#img_area_form #form_container input, #img_area_form #form_container input {
	border: 1px solid black;
	font-size: 10px;
	margin: 0;
	padding: 0 0 0 1px;
}

#img_area_form .img_area {
	display: block;
	vertical-align: middle;
	line-height: 20px;
	height: 20px;
}

#img_area_form .img_id {
	font-weight: bold;
	width: 25px;
	padding: 0px 3px;
	text-align: right;
	border: none!important;
	background: none;
}
#img_area_form .img_active {
	border: none!important;
}
#img_area_form .img_coords {
	width: 72px;
}
#img_area_form .img_href {
	width: 82px;
}
#img_area_form .img_alt {
	width: 82px;
}
#img_area_form .img_target {
	width: 82px;
}

#img_area_form #pic_container {
	position: relative;
	width: 100%;
	height: 400px;
	border: solid 0px #efefef;
	overflow: auto;
}

#img_area_form #pic_container .imgmap_label {
	font: bold 10px Arial;
	color: #100;
	padding: 1px 2px;
}

#img_area_form #status_container {
	font-weight: bold!important;
	font-size: 90%;
	color: #e95949;
	width: 100%;
}

#img_area_form #button_container {
	padding: 5px;
	line-height: 22px;
	float: left;
}
#img_area_form #button_container select,
#img_area_form #button_container img,
#img_area_form #button_container > div,
#img_area_form #button_container label
{
	float: left;
}
#img_area_form #button_container img {
	margin: 2px 2px;
	cursor: pointer;
}

#img_area_form #fieldset_html {
	text-align: left;
}

#img_area_form #html_container {
	border: 1px solid black;
	margin: 5px 0;
	padding: 1px 0 0 1px;
	height: 100px;
	width: 100%;
}

#img_area_form #more_actions {
	background-color: #E7E7E7;
	border: solid 1px #888;
	padding: 5px;
	width: 120px;
	line-height: 15px;
}
#img_area_form #more_actions div div,
#img_area_form #more_actions div a {
	text-decoration: none;
	color: #000;
	float: left;
	padding: 0 3px;
}
